body {
  text-align: center;
  margin-top: 350px;
  background-image: url("./img/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.output p {
  display: none;
  color: white;
  font-size: 30px;
}

.input {
  width: 300px;
  height: 50px;
  font-size: 30px;
  padding-left: 20px;
  margin-right: 100px;
  border-radius: 20px;
}

.select {
  height: 50px;
  font-size: 30px;
  border-radius: 20px;
  margin-right: 10px;
}

.button {
  height: 50px;
  font-size: 30px;
  border-radius: 20px;
}
